<h1><img src='https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430' width='30'/> Hello! Nice to see you.</h1>

<p>Welcome to my page!</p>

<p>I'm <b>{{name}}</b>, a Front End developer from <img alt='Canadian flag' src='https://www.flaticon.com/svg/static/icons/svg/197/197430.svg' width='13'/> <b>Ontario, Canada</b>.</p>

<h2>Things I code with</h2>

<p>
  <img alt='npm' src='https://img.shields.io/badge/-NPM-CB3837?style=flat-square&logo=npm&logoColor=white' />
  <img alt='git' src='https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white' />
  <img alt='html5' src='https://img.shields.io/badge/-HTML5-E34F26?style=flat-square&logo=html5&logoColor=white' />
  <img alt='Prettier' src='https://img.shields.io/badge/-Prettier-F7B93E?style=flat-square&logo=prettier&logoColor=white' />
  <img alt='MongoDB' src='https://img.shields.io/badge/-MongoDB-13aa52?style=flat-square&logo=mongodb&logoColor=white' />
  <img alt='Nodejs' src='https://img.shields.io/badge/-Nodejs-43853d?style=flat-square&logo=Node.js&logoColor=white' />
  <img alt='React' src='https://img.shields.io/badge/-React-45b8d8?style=flat-square&logo=react&logoColor=white' />
  <img alt='github actions' src='https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white' />
  <img alt='TypeScript' src='https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white' />
  <img alt='Styled Components' src='https://img.shields.io/badge/-Styled_Components-db7092?style=flat-square&logo=styled-components&logoColor=white' />
  <img alt='Sass' src='https://img.shields.io/badge/-Sass-CC6699?style=flat-square&logo=sass&logoColor=white' />
</p>

<h2>About me</h2>

<p>📚 I'm a natural problem-solver and a life-long learner who is not afraid of a challenge. I believe being able to have fun on the job makes any project possible.</p>

<p>🌟 <b>Long-term goal:</b> Become a Full Stack Developer. Building inclusive, helpful (and fun) applications for all.</p>

<p>👨‍💻 <b>Day-to-day:</b> Working as a Front End Developer on the Creative Studio team at <a href='https://www.eqworks.com/' target='_blank'>EQ Works</a>.</p>

<p>🔭 <b>On the side:</b> Working on <a href='https://github.com/SamSverko/flatbread' target='_blank'>Flatbread</a>. A side project to digitize my never-ending pile of recipes.</p>

<p>🌱 <b>Currently learning:</b> React Native, TypeScript, Next.js, Shopify app development, and so much more!</p>

<h2>Where to find me</h2>

<p>💬 Ask me anything on GitHub.</p>

<p>💌 By email sam.sverko@gmail.com.</p>

<p>🔗 Connect on LinkedIn.</p>

<h2>How did you get a README on your GitHub profile page?</h2>

<p>🥚 Looks like GitHub hid a few easter eggs in their latest release! You can get a README to display on your GitHub profile if you do the following:<p>

<ol>
  <li>Create a new public repository, and name it the exact same as your username (in my case, my username is 'SamSverko', so I created a public repository named 'SamSverko').</li>
  <li>Add a README.md file to the root of that newly created repository. Voila! The README will be automatically added to your GitHub profile.</li>
</ol>
